.env
__pycache__
Data
env
faiss-data-store-code
pinecon-data-store-code
test-langchain-Agentic-RAG
langchain-docs
OPTIMIZATION_GUIDE.md
performance_test.py

gunicorn app:app --bind 0.0.0.0:8000 --timeout 80000 --workers 3 --worker-class uvicorn.workers.UvicornWorker --daemon --access-logfile app.log --error-logfile app.log


gunicorn app:app --bind 0.0.0.0:8000 --timeout 80000 --workers 3 --worker-class uvicorn.workers.UvicornWorker --access-logfile app.log --error-logfile app.log